<mat-toolbar>
    <div class = 'admin-menu'>
        <button mat-button routerLink="/registration">Registracija</button>
        <button mat-button routerLink="/companies">Kompanije</button>
        <button mat-button routerLink="/contacts">Kontakti</button>
        <button mat-button routerLink="/types">Postupci</button>
        <button mat-button routerLink="/locations">Lokacije</button>
    </div>
    <button mat-button routerLink="/litigations">Parnice</button>
    <button mat-button class = 'logout-button' routerLink="">Odjavi se</button>
</mat-toolbar>
