<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [hidden]="!isLoggedIn">
  <a class="navbar-brand" routerLink="/home">Diligent</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/registration" [hidden]="!isAdmin"
          >Registration</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users" [hidden]="!isAdmin">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/companies" [hidden]="!isAdmin"
          >Companies</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacts" [hidden]="!isAdmin"
          >Contacts</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/locations" [hidden]="!isAdmin"
          >Locations</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/types" [hidden]="!isAdmin">Types</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/lawsuits">Lawsuits</a>
      </li>
    </ul>
    <button class="btn btn-outline btn-dark my-2 my-lg-0" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
