<mat-toolbar>
    <span>Logovanje</span>
  </mat-toolbar>
  <mat-card class="my-card">
<mat-card-content>
    <form  (ngSubmit)="login()" class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Korisničko ime</mat-label>
              <input  [(ngModel)]="user.username" matInput  placeholder="Username" name="username" required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Lozinka</mat-label>
              <input  [(ngModel)]="user.password" matInput  placeholder="Password"  name="password" type="password" required>
           </mat-form-field>
           <mat-card-actions>
            <button mat-raised-button  color="primary">ULOGUJ SE</button>
          </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>